/* Card Styles */
.balance-card, .transaction-history {
    margin-bottom: 20px;
  }
  
  .balance-card h2 {
    font-size: 1.5em;
  }
  
  .balance-card p {
    font-size: 2.5em;
    font-weight: bold;
  }
  